<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create"> New Blogs</a></li>
        </ul>
    </nav>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa temporibus doloremque quo hic ratione quis sint! Velit neque, sapiente quos distinctio laudantium sit natus commodi accusantium earum harum. Officiis, excepturi!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis quaerat repudiandae ipsa quos consectetur corrupti voluptate quod amet minima tempore iusto, animi deserunt possimus nesciunt? Perspiciatis non molestias quia. Reprehenderit!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci reiciendis, omnis consequatur perferendis odio cumque expedita dignissimos vitae vel quaerat necessitatibus fuga nostrum similique optio sint non illum quae quo!</p>
        
        
    </div>
</body>
</html>